# url
DATABASE_URL=postgres://postgres:1234qwer@192.168.8.63:5432/web_quic_star
ETH_RPC=
SOLANA_RPC=
WS_ETH_RPC=
WS_SOLANA_RPC=
UNI_GRAPH_URL
REDIS=redis://:1234qwer@192.168.2.11:6379/0


RUST_LOG=info

